.sign-up-login {
	padding-bottom: 15px
}

#loginbtn {
	width: 50%;
}

#loginField {
	position: center;
}

.oauth-signup {
	
}

#fb-signin {
	float: right;
}

#google-signin {
	float: left;
}

.buffer-oauth {
	display: inline-block;
	margin: 0 auto;

}