.user-dropdown {
	vertical-align: center;
	position: relative;
	padding-top: 9px;
	padding-right: 10px;
}
#welcomeName {
	color: #9d9d9d;
	vertical-align: center;
	position: relative;
	padding-top: 15px;
	padding-right: 10px;
}
#loginBtn {
	padding-right: 10px;
}