/**
 * RESETS
 */
/**
 * GENERIC
 */
.form-body {
  border: 1px solid black; }

/**
 * COMPONENTS
 */
.signUpLogin {
  padding-bottom: 15px; }

#loginbtn {
  width: 50%; }

#loginField {
  position: center; }

.unselected-coffee {
  background-color: blue; }

.selected-coffee {
  background-color: red; }
