/**
 * RESETS
 */
html {
  box-sizing: border-box; }

*, *::before, *::after {
  position: relative;
  box-sizing: inherit; }

/**
 * GENERIC
 */
.form-body {
  border: 1px solid black; }

/**
 * COMPONENTS
 */
.signUpLogin {
  padding-bottom: 15px; }

#loginbtn {
  width: 50%; }

#loginField {
  position: center; }

#fb-signin {
  float: right; }

#google-signin {
  float: left; }

.buffer-oauth {
  display: inline-block;
  margin: 0 auto; }

.unselected-coffee {
  background-color: blue; }

.selected-coffee {
  background-color: red; }

.user-dropdown {
  vertical-align: center;
  position: relative;
  padding-top: 9px;
  padding-right: 10px; }

#welcomeName {
  color: #9d9d9d;
  vertical-align: center;
  position: relative;
  padding-top: 15px;
  padding-right: 10px; }

#loginBtn {
  padding-right: 10px; }
